go 1.24.2

use (
	.
	./plugins/agent-default
	./plugins/app-cli
	./plugins/context-compact
	./plugins/filesystem-local
	./plugins/http-default
	./plugins/interceptor-approval
	./plugins/interceptor-script
	./plugins/model-openai-compatible
	./plugins/model-runtime
	./plugins/prompt-default
	./plugins/session-jsonl
	./plugins/tool-ask
	./plugins/tool-fs
	./plugins/tool-runtime
	./plugins/tool-shell
)
