go 1.24.2

use (
	.
	./plugins/agent-default
	./plugins/app-webui
	./plugins/asset-local
	./plugins/context-compact
	./plugins/http-default
	./plugins/interceptor-approval
	./plugins/interceptor-script
	./plugins/model-openai-compatible
	./plugins/model-runtime
	./plugins/prompt-default
	./plugins/session-sqlite
	./plugins/tool-ask
	./plugins/tool-edit
	./plugins/tool-runtime
	./plugins/tool-shell
	./plugins/usage-default
)


